USE [Bokhandel]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthday] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ISBN13] [char](13) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[Pages] [int] NULL,
	[PublisherID] [int] NULL,
	[AuthorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Adress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[StoreID] [int] NOT NULL,
	[ISBN13] [char](13) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC,
	[ISBN13] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ISBN13] [char](13) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtPurchase] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Adress] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](100) NOT NULL,
	[Adress] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Birthday]) VALUES (1, N'J.K.', N'Rowling', CAST(N'1965-07-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Birthday]) VALUES (2, N'George', N'Orwell', CAST(N'1903-06-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Authors] ([AuthorID], [FirstName], [LastName], [Birthday]) VALUES (3, N'Haruki', N'Murakami', CAST(N'1949-01-12T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
INSERT [dbo].[Books] ([ISBN13], [Title], [Language], [Price], [ReleaseDate], [Pages], [PublisherID], [AuthorID]) VALUES (N'9780007119356', N'Murder on the Orient Express', N'English', CAST(129.90 AS Decimal(10, 2)), CAST(N'1934-01-01T00:00:00.0000000' AS DateTime2), 256, 2, 4)
INSERT [dbo].[Books] ([ISBN13], [Title], [Language], [Price], [ReleaseDate], [Pages], [PublisherID], [AuthorID]) VALUES (N'9780007120840', N'And Then There Were None', N'English', CAST(139.90 AS Decimal(10, 2)), CAST(N'1939-11-06T00:00:00.0000000' AS DateTime2), 272, 2, 4)
INSERT [dbo].[Books] ([ISBN13], [Title], [Language], [Price], [ReleaseDate], [Pages], [PublisherID], [AuthorID]) VALUES (N'9780099448822', N'Kafka on the Shore', N'English', CAST(179.00 AS Decimal(10, 2)), CAST(N'2002-09-12T00:00:00.0000000' AS DateTime2), 505, 2, 3)
GO
INSERT [dbo].[Inventories] ([StoreID], [ISBN13], [Quantity]) VALUES (1, N'9780451524935', 3)
INSERT [dbo].[Inventories] ([StoreID], [ISBN13], [Quantity]) VALUES (1, N'9780747532743', 3)
INSERT [dbo].[Inventories] ([StoreID], [ISBN13], [Quantity]) VALUES (2, N'9780007119356', 2)
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [Name], [Adress], [City], [Country]) VALUES (1, N'Bloomsbury', N'50 Bedford Square', N'London', N'UK')
INSERT [dbo].[Publishers] ([PublisherID], [Name], [Adress], [City], [Country]) VALUES (2, N'Vintage', N'20th Century Road', N'New York', N'USA')
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

INSERT [dbo].[Stores] ([StoreID], [StoreName], [Adress], [City], [PostalCode]) VALUES (1, N'Stockholm Bookstore', N'Street 1', N'Stockholm', N'11111')
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Adress], [City], [PostalCode]) VALUES (2, N'Gothenburg Bookstore', N'Street 2', N'Gothenburg', N'22222')
INSERT [dbo].[Stores] ([StoreID], [StoreName], [Adress], [City], [PostalCode]) VALUES (3, N'Malmo Bookstore', N'Street 3', N'Malmo', N'33333')
SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105347EA372F9]    Script Date: 2025-11-19 11:44:44 ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Publishe__737584F641AF2542]    Script Date: 2025-11-19 11:44:44 ******/
ALTER TABLE [dbo].[Publishers] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([ISBN13])
REFERENCES [dbo].[Books] ([ISBN13])
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([StoreID])
REFERENCES [dbo].[Stores] ([StoreID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ISBN13])
REFERENCES [dbo].[Books] ([ISBN13])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Pages]>(0)))
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([PriceAtPurchase]>=(0)))
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[FlyttaBok]    Script Date: 2025-11-19 11:44:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FlyttaBok]
	@FromStoreID INT,
	@ToStoreID INT,
	@ISBN13 CHAR(13),
	@Quantity INT =1
AS
BEGIN

	IF(SELECT Quantity FROM Inventories
		WHERE StoreID =@FromStoreID AND ISBN13=@ISBN13) < @Quantity
	BEGIN
		PRINT 'Not enough books in the source store.';
		RETURN;
	END

	UPDATE Inventories
	SET Quantity=Quantity-@Quantity
	WHERE StoreID =@FromStoreID AND ISBN13=@ISBN13;

	IF EXISTS (SELECT*FROM Inventories
		WHERE StoreID=@ToStoreID AND ISBN13=@ISBN13)
	BEGIN
		UPDATE Inventories
		SET Quantity=Quantity+@Quantity
		WHERE StoreID=@ToStoreID AND ISBN13=@ISBN13;
	END
	ELSE
	BEGIN
		INSERT INTO Inventories(StoreID,ISBN13,Quantity)
		VALUES(@ToStoreID,@ISBN13,@Quantity);
	END
	PRINT 'Book moved!';
END;
GO
